*{
margin: 1;
font-family: 'poppins' sans-serif;
box-sizing: border-box;
}
h1{
    color: rgb(50, 127, 216);
    font-weight: bold;
}
h2{
    color: rgb(50, 127, 216);
}
.body{
  background-color: rgb(212, 224, 104);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
  overflow: auto;
  text-align: left;
}
.container{
  display: flex;
  box-sizing: border-box;
  
}
.btn {
  padding: 14px 20px;
  width: 100%;
  max-width: 300px;
 text-align : center;
  border-radius: 6px;
}